
.Recommended_text {
    font-weight: 400;
    color: grey;
    padding-left: 10px;
}

.Recommended_link {
    color: rgb(236, 63, 63);
    font-size: 12px;
    padding-top: 10px;
}
.Recommended_mainhead {
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
}
.Recommended_maindiv {
   border: 2px solid lightgray;
   margin-top: 30px;
}
.Recommended_icon {
    margin-right: 10px;
}
.Recommended_btn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.recommended_headdiv {
    background: #fff;
}




