.form_input{
    outline: none;
    border: none;
   border-bottom: 1px solid black;
    width: 100%;
  }
  .form_label{
    color:red;
    font-weight: bold;
    padding-top: 5px;
  }

.form_submit {
    background-color:red;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    width: 157px;
    padding: 9px;
  }
  .form_heading{
      font-weight: bold;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 6rem;
  }
  .width{
    margin-left: 6rem;
      margin-right: 6rem;
  }
  .form_error_msg{
    color:brown;
    font-weight: bold;
}

.radio_label{
    color: red;
    font-weight: bold;
    padding-top: 18px;
    padding: 5px;
    padding-right: 50px;
}

.label1{
    background-color: white;
    color: red;
    border: 1px solid black;
    font-size: 1rem;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 21px;
    border-radius: 0.3rem;
    font-weight: bold;
}